@model PSMan.Models.TravelModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Flight" class="control-label"></label>
                <input asp-for="Flight" class="form-control" />
                <span asp-validation-for="Flight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromCity" class="control-label"></label>
                <input asp-for="FromCity" class="form-control" />
                <span asp-validation-for="FromCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromDepartureTime" class="control-label"></label>
                <input asp-for="FromDepartureTime" class="form-control" />
                <span asp-validation-for="FromDepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToCity" class="control-label"></label>
                <input asp-for="ToCity" class="form-control" />
                <span asp-validation-for="ToCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToLandingTime" class="control-label"></label>
                <input asp-for="ToLandingTime" class="form-control" />
                <span asp-validation-for="ToLandingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
